:root{
    --lila: #964baa;
    --blanco: #ffffff;
    --blancoGrisaceo: #f9f9f9;
    --negro: #000000;
    --gris: #5e5e5e;
    --grisCasiBlanco: #e7e2e2;
    /* Paleta Colores */
    --uva: #82449e;
    --moradoOscuro: #401b52;
    --arena: #ab905b;
    --verdeOscuro: #236b49;
    --verdeClaro: #59eba5;
}

html{
    font-size: 62.5%;
    box-sizing: border-box;
}

*,*:before,*:after{
    box-sizing: inherit;
}

/* Globales */

body{
    font-family: 'Open Sans',sans-serif;
    background-color: var(--blancoGrisaceo);
}

img{
    width: 100%;
}

.contenedor{
    width: 95%;
    max-width: 1200px;
    margin: 0 auto;
}

.btn{
    font-size: 1.8rem;
    font-family: 'Lato',sans-serif;
    padding: 1rem;
    text-decoration: none;
}

.btn-registro{
    background-color: var(--verdeOscuro);
    color: white;
    border: 0.2rem solid var(--verdeOscuro);
    border-radius: 0.5rem;
    transition-property: background-color,color;
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;
}

.btn-registro:hover{
    background-color: var(--verdeClaro);
    color: var(--negro);
}

/* Header */

.site-header{
    font-family: 'Lato',sans-serif;
    font-size: 4rem;
    color: var(--blanco);
}

.site-header p{
    margin: 0;
}

.site-header p span{
    font-weight: 700;
}

.site-header.principal{
    background-image: url(../img/Grieta-lulu.jpg);
    height: 100vh;
    background-position: center;
    background-size: cover;
    /* no olvidar nunca estas 2 lineas de abajo*/ 
    background-repeat: no-repeat;
    background-attachment: fixed;
}

@media(min-width: 1200px){
    .site-header.site-header.principal{
        min-height: 60rem;
        background-attachment: unset;
    }
}

.division-header{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.texto-header{
    margin: 2rem 2rem 2rem auto;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 2rem;
    border: 0.5rem outset var(--verdeClaro);
    text-align: right;
}

@media (min-width: 768px),(orientation:landscape){
    .texto-header{
        width: 70%;
    }
}

@media (min-width: 992px){
    .texto-header{
        width: 40%;
    }
}

.texto-header p{
    text-align: left;
    font-size: 3rem;
    margin: 0;
}

/* Navegacion */

.barra{
    padding-top: 1rem;
    text-align: center;
}


@media(min-width: 768px), (orientation:landscape){
    .barra{
        text-align: left;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
}

.barra a{
    text-decoration: none;
    color: var(--blanco);
    font-size: 2.8rem;
    display: inline-block;
    padding-right: 1.5rem;
    transition: color 0.3s ease-in-out;
}

.barra a:last-of-type{
    padding-right: 0;
}

.barra a:hover{
    color: var(--uva);
}

/* Contenido principal */

.contenido-principal{
    margin: 3rem auto;
}

.contenido-principal h1{
    margin: 3rem 0;
    text-align: center;
    font-family: 'Open Sans',sans-serif;
    font-weight: 700;
    font-size: 3.5rem;
    color: var(--moradoOscuro);
}

@media (min-width: 768px), (orientation: landscape){
    .iconos{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 1rem;
    }
}

@media (min-width: 992px){
    .iconos{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}

.icono{
    margin-top: 1rem;
    text-align: center;
    flex: 0 0 calc(33.3% - 2rem);
    font-family: 'Lato',sans-serif;
    border: 0.3rem solid var(--uva);
    border-radius: 0.5rem;
    transition: all 0.5s ease-in-out;
}

@media(min-width: 768px),(orientation: landscape){
    .icono{
        margin-top: 0;
    }
    .icono.cuadro1{
        grid-column: 1 / 3;
    }

    .icono.cuadro2{
        grid-column: 3 / 5;
    }

    .icono.cuadro3{
        grid-column: 2 / 4
    }
}

@media(min-width: 1200px){
    .icono:hover{
        transform: scale(1.1);
        -webkit-transform: scale(1.1);
        -webkit-box-shadow: 0px 14px 29px -8px rgba(0,0,0,0.63);
        -moz-box-shadow: 0px 14px 29px -8px rgba(0,0,0,0.63);
        box-shadow: 0px 14px 29px -8px rgba(0,0,0,0.63);
    }
}


.icono h2{
    font-size: 3rem;
    font-weight: 700;
    color: var(--arena);
}

.icono img{
    width: 10rem;
    height: 10rem;
}

.icono p{
    line-height: 2;
    font-size: 1.6rem;
    font-weight: 400;
}

/* Footer */

.site-footer{
    background-color: var(--uva);
    align-items: center;
    color: var(--blanco);
}

.site-footer nav{
    display: none;
}

@media (min-width: 768px), (orientation: landscape){
    .site-footer nav{
        display: block;
    }
}

.site-footer a{
    color: var(--blanco);
    text-decoration: none;
    margin-right: 1rem;
    font-size: 2rem;
    transition: color 0.3s ease-in;
}

.site-footer a:last-of-type{
    margin: 0;
}

.site-footer a:hover{
    color: var(--verdeClaro);
}

.copy{
    margin: 1rem 0 0 0;
    background-color: var(--moradoOscuro);
    color: var(--blanco);
    font-size: 1.6rem;
    text-align: center;
    padding: 1rem 0;
}

/* Paginas internas */


/* Registro y Login */

.log-reg{
    position: relative;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.log-reg .decoration{
    width: 100vw;
    height: 100vh;
    background-image: url("../img/Islas-Sombras.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

@media (orientation: landscape) {
    .log-reg .decoration{
        height: 150vh;
    }
}

@media (min-width: 992px) {
    .log-reg .decoration{
        height: 100vh;
    }
}

.mini-logo{
    text-align: center;
}

.mini-logo img{
    max-width: 50%;
}

.log-reg form{
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 95%;
    padding: 1.5rem;
    border: 0.4rem solid var(--uva);
    border-radius: 1rem;
    text-align: center;
}

@media (orientation: landscape) {
    .log-reg form{
        max-width: unset;
    }
}

@media (min-width: 992px) {
    .log-reg form{
        max-width: 40rem;
    }
}

.log-reg form h2{
    font-size: 2.5rem;
    font-family: 'Lato',sans-serif;
    color: var(--blanco);
}

.campo-log-reg{
    display: flex;
    flex-direction: column;
}

@media (min-width: 768px),(orientation: landscape) {
    .campo-log-reg{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        column-gap: 1rem;
    }
}

@media (min-width: 992px) {
    .campo-log-reg{
        display: flex;
        flex-direction: column;
    }
}

.campo-log-reg input{
    margin-bottom: 1rem;
    font-size: 1.8rem;
    font-family: 'Open Sans',sans-serif;
    padding: 1rem 0.5rem;
    border-radius: 0.5rem;
    border: 0.2rem solid var(--verdeOscuro);
    transition: border 0.2s ease-in-out;
}

.campo-log-reg input:focus{
    border: 0.2rem solid var(--verdeClaro);
}

@media(min-width: 768px),(orientation: landscape){
    .campo-log-reg .colum-2{
        grid-column: 1 / 3;
    }
}

.ya-cuenta{
    font-size: 1.4rem;
    margin-top: 1rem;
    color: #ffffff;
    text-align: left;
    text-decoration: none;
    transition: color 0.2s ease-in;
}

.ya-cuenta:hover{
    color: var(--verdeClaro);
}

@media (min-width: 768px) {
    .ya-cuenta{
        font-size: 1.6rem;
    }
}

/* Pagina de Login */

.log-fondo{
    background-image: url("../img/Vacio.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

@media (orientation: landscape) {
    .log-fondo{
        height: 150vh;
    }
}

@media (min-width: 992px) and (orientation:landscape) {
    .log-fondo{
        height: 100vh;
    }
}

.log-reg .login{
    border: 0.4rem solid var(--verdeClaro);
    border-radius: 1rem;
}

@media (min-width: 768px),(orientation: landscape) {
    .log-reg .login{
        max-width: 50%;
    }
}

@media (min-width: 992px) {
    .log-reg .login{
        max-width: 25%;
    }
}

.login label{
    color: var(--blanco);
    font-size: 1.6rem;
    text-align: left;
    margin-bottom: 0.8rem;
}

.login input{
    margin-bottom: 1.5rem;
    font-size: 1.8rem;
    border: 0.2rem solid var(--lila);
    background-color: var(--grisCasiBlanco);
    border-radius: 1rem;
    padding: 1rem 1rem;
    transition-property: border-color,background-color;
    transition-duration: 0.2s;
    transition-timing-function: ease-in;
}

.login input:focus{
    border-color: var(--verdeClaro);
    background-color: var(--blanco);
}